<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- APP -->
    <add key="app:config:filePath" value=".\digger.agent.conf.json" />
    <!-- SERILOG -->
    <add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:HH:mm:ss} [{Level}] {SourceContext} ({ThreadId}) {Message}{NewLine}{Exception}" />
    <add key="serilog:write-to:RollingFile.pathFormat" value=".\Logs\Digger.Agent-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>