<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ensure.That" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="MyInfluxDbClient" version="0.10.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Requester" version="1.5.1" targetFramework="net45" />
  <package id="Serilog" version="1.5.14" targetFramework="net45" />
  <package id="Topshelf" version="3.3.1" targetFramework="net45" />
  <package id="Topshelf.Serilog" version="3.3.1" targetFramework="net45" />
</packages>